In [101]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
import catboost

In [102]:
origin = pd.read_csv('Pulsar.csv')
origin.head()
origin

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

In [103]:
data = pd.read_csv('train.csv')
data = data.drop(["id"], axis=1)
data.head()
data

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
0,133.171875,59.716081,0.043133,-0.703383,54.917224,70.084438,0.749798,-0.649512,0
1,87.093750,36.257973,0.435469,2.266057,3.417224,21.865069,7.039330,52.686251,0
2,112.640625,39.818393,0.379639,0.922306,2.730769,15.689690,8.193471,85.649785,0
3,120.679688,45.918448,-0.098490,0.011775,2.696488,20.954662,8.183874,70.332899,0
4,134.070312,57.720107,-0.107772,-0.573335,1.107860,11.255051,16.107748,308.753765,0
...,...,...,...,...,...,...,...,...,...
117559,132.843750,56.748838,-0.060070,-0.554084,4.054348,27.844144,6.564423,44.442664,0
117560,112.578125,52.539271,0.179580,-0.306961,1.637960,15.331913,11.384718,142.535470,0
117561,119.757812,49.980013,0.064402,-0.270822,3.877926,19.788559,6.959740,56.367789,0
117562,105.789062,46.986595,0.441426,0.372466,2.097826,17.170612,9.442445,99.074539,0
117563,113.515625,50.935956,0.031517,-0.443831,23.290970,62.006842,2.386364,4.001859,0

In [104]:
frames = [data, origin]
  
result = pd.concat(frames)
display(result)

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve,Class
0,133.171875,59.716081,0.043133,-0.703383,54.917224,70.084438,0.749798,-0.649512,0
1,87.093750,36.257973,0.435469,2.266057,3.417224,21.865069,7.039330,52.686251,0
2,112.640625,39.818393,0.379639,0.922306,2.730769,15.689690,8.193471,85.649785,0
3,120.679688,45.918448,-0.098490,0.011775,2.696488,20.954662,8.183874,70.332899,0
4,134.070312,57.720107,-0.107772,-0.573335,1.107860,11.255051,16.107748,308.753765,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

In [105]:
x = result.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data = pd.DataFrame(x_scaled)

In [106]:
data.head()

,0,1,2,3,4,5,6,7,8
0,0.681778,0.472173,0.192965,0.015574,0.245113,0.607271,0.103215,0.001113,0.0
1,0.435114,0.155201,0.232414,0.058059,0.014356,0.140354,0.270139,0.045821,0.0
2,0.571871,0.203310,0.226800,0.038833,0.011280,0.080557,0.300770,0.073452,0.0
3,0.614905,0.285736,0.178726,0.025806,0.011127,0.131539,0.300515,0.060613,0.0
4,0.686588,0.445203,0.177792,0.017434,0.004009,0.037615,0.510814,0.260466,0.0

In [107]:
len(data)

135462

In [6]:
X = data.drop(["id","Class"], axis=1)
y = data["Class"]

In [108]:
#for min_max
X = data.drop([8], axis=1)
y = data[8]

In [109]:
categorical_features_indices = np.where(X.dtypes != float)[0]

In [110]:
from sklearn.model_selection import train_test_split

X_train, X_validation, y_train, y_validation = train_test_split(X, y, train_size=0.75, random_state=42)

In [111]:
from catboost import CatBoostClassifier, Pool, metrics, cv
from sklearn.metrics import accuracy_score

In [112]:
model = CatBoostClassifier(
    custom_loss=[metrics.Accuracy()],
    random_seed=42,
    logging_level='Silent'
)

model.fit(
    X_train, y_train,
    cat_features=categorical_features_indices,
    eval_set=(X_validation, y_validation),
    # logging_level='Verbose',  # you can uncomment this for text output
    plot=True
);

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

In [124]:
test = pd.read_csv('test.csv')
test = test.drop(["id"], axis=1)
test.head()

,Mean_Integrated,SD,EK,Skewness,Mean_DMSNR_Curve,SD_DMSNR_Curve,EK_DMSNR_Curve,Skewness_DMSNR_Curve
0,140.046875,54.507800,0.058862,-0.567263,2.337793,14.868335,9.591760,117.988781
1,107.828125,51.578965,0.284368,-0.338430,1.574415,12.501437,11.694968,182.704822
2,135.062500,49.812343,-0.087784,-0.094341,3.576923,21.243336,7.252386,59.021499
3,112.812500,41.926647,0.519921,1.287762,6.669732,29.013153,5.097661,27.105240
4,96.210938,35.322620,0.481286,2.443080,2.218227,17.041064,9.766006,117.131775

In [125]:
x = test.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
test = pd.DataFrame(x_scaled)

In [126]:
len(test)
test

,0,1,2,3,4,5,6,7
0,0.718581,0.443575,0.187393,0.018580,0.009520,0.071967,0.357013,0.111620
1,0.546108,0.399885,0.210268,0.022052,0.006099,0.049009,0.418820,0.171834
2,0.691899,0.373532,0.172517,0.025756,0.015072,0.133803,0.288265,0.056755
3,0.572791,0.255899,0.234163,0.046725,0.028930,0.209167,0.224943,0.027059
4,0.483920,0.157385,0.230244,0.064254,0.008984,0.093042,0.362133,0.110823
...,...,...,...,...,...,...,...,...
78372,0.607670,0.323363,0.204513,0.029645,0.004065,0.062410,0.491071,0.200473
78373,0.642508,0.286629,0.189381,0.028369,0.009542,0.053928,0.366282,0.129137
78374,0.674376,0.279266,0.186406,0.033299,0.008527,0.069748,0.395422,0.139477
78375,0.394337,0.265645,0.264338,0.054778,0.007572,0.081440,0.390279,0.135146
78376,0.334323,0.221368,0.376633,0.108343,0.092705,0.462626,0.148296,0.006876

In [127]:
#X_test = test.drop(["id"], axis=1)

#for minmax
X_test = test

In [128]:
predictions = model.predict(X_test)

In [129]:
sub = pd.read_csv('sample_submission.csv')

In [130]:
sub['Class'] = predictions

In [131]:
sub

           id  Class
0      117564    0.0
1      117565    0.0
2      117566    0.0
3      117567    0.0
4      117568    0.0
...       ...    ...
78372  195936    0.0
78373  195937    0.0
78374  195938    0.0
78375  195939    0.0
78376  195940    1.0

[78377 rows x 2 columns]

In [132]:
sub.to_csv('sub_three_rev.csv', index=False)